<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>registration</servlet-name>
        <servlet-class>com.mvc.controller.RegistrationServlets</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddInterests</servlet-name>
        <servlet-class>com.mvc.controller.AddInterests</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddContacts</servlet-name>
        <servlet-class>com.mvc.controller.AddContacts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddHobbies</servlet-name>
        <servlet-class>com.mvc.controller.AddHobbies</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateGeneralInformation</servlet-name>
        <servlet-class>com.mvc.controller.UpdateProfile</servlet-class>
    </servlet>
    
    <listener>
        <listener-class>com.mvc.controller.HttpSessionListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>AddPhoto</servlet-name>
        <servlet-class>com.mvc.controller.AddPhoto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsersProfilePage</servlet-name>
        <servlet-class>com.mvc.controller.UsersProfilePage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChatBoxServlet</servlet-name>
        <servlet-class>com.mvc.controller.ChatBoxServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateInterests</servlet-name>
        <servlet-class>com.mvc.controller.UpdateInterests</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateHobbies</servlet-name>
        <servlet-class>com.mvc.controller.UpdateHobbies</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>registration</servlet-name>
        <url-pattern>/Add</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LogoutServlets</servlet-name>
        <servlet-class>com.mvc.controller.LogoutServlets</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlets</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>com.mvc.controller.LogoutServlets</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/aaa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddInterests</servlet-name>
        <url-pattern>/AddInterests</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddContacts</servlet-name>
        <url-pattern>/AddContacts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddHobbies</servlet-name>
        <url-pattern>/AddHobbies</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdatePassword</servlet-name>
        <servlet-class>com.mvc.controller.UpdatePassword</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdatePassword</servlet-name>
        <url-pattern>/UpdatePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateGeneralInformation</servlet-name>
        <url-pattern>/UpdateProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPhoto</servlet-name>
        <url-pattern>/AddPhoto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsersProfilePage</servlet-name>
        <url-pattern>/UsersProfilePage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateInterests</servlet-name>
        <url-pattern>/UpdateInterests</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateHobbies</servlet-name>
        <url-pattern>/UpdateHobbies</url-pattern>
    </servlet-mapping>
</web-app>
